@media screen and (max-width: 1777px){
	.header-nav{
		padding-left: 15px;
	}

]	.button-header{
		margin-left: 0px;
	}
}
@media screen and (max-width: 1137px){
	.header-nav,.button-header{
		display: none;
	}
	.menu-toggle{
		display: block;
		position: absolute;
		right: 24px;
	}
	.rus-lan{
		position: inherit;
	}
	.launch-button{
		position: absolute;
		right: 72px;
	}
	.russia{
		position: absolute;
		right: 248px;
	}
	.allcont-block3{
		flex-direction: column-reverse;
		display: flex;
	}
	.country{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 400px;
	}
	.country li:not(:last-child){
		margin-bottom: 0px;
		margin-right: 16px;
	}
	.world{
		position: absolute;
		right: 27px;
		padding-top: 95px;
	}
	.world-podkl{
		display: flex;
		flex-direction: column-reverse;
	}
	.br232{
		display: none;
	}
	.br2232{
		display: none;
	}
	.h232{
		white-space: unset;
	}
}
@media screen and (max-width: 350px){
	.ob-cont{
		width: 192px;
	}
}
@media screen and (max-width: 546px){
	.russia{
		display: none;
	}
}
@media screen and (max-width: 420px){
	.lanch{
		font-size: 14px;
	}
	.logo img{
		width: 100px;
	}
}
@media screen and (max-width: 1325px){
	.trade-block{
		display: block;
	}
	.transfer-window{
		position: inherit;
	}
	.swap{
		display: none;
	}
	.window-notchild {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    h1{
    	text-align: center;
    	margin-bottom: 0;
    	margin-top: 32px;
    }
    .brr1{
    	display: none;
    }
    .trade-lanch{
    	justify-content: center;
    }
    .trade-leftside{
    	padding-top: 0px;
    }
    .down-luan{
    	justify-content: center;
    }
    .vniz{
    	padding-top: 50px;
    }
    .socials{
    	padding-top: 50px;
    }
    .block1-body{
    	display: block;
    }
    .block1-desc{
    	position: static;
    }
}
@media screen and (max-width: 1031px){
	h1{
		font-size: 45px;
	}
}
@media screen and (max-width: 794px){
	h1{
		font-size: 35px;
	}
}
@media screen and (max-width: 677px){
	h1{
		font-size: 25px;
	}
	.container-block1{
		margin: 0 24px;
	}
	.container-block2{
		margin: 0 24px;
	}
	.container-block3{
		margin: 0 24px;
	}
}
@media screen and (max-width: 615px){
	.trade-block{
		flex-direction: column-reverse;
		display: flex;
	}
	.trade-container{
		margin: 0 24px;
	}
	h1{
		font-size: 30px;
	}
	.trade-leftside{
		padding-top: 32px;
	}
	.trade-block{
		overflow: hidden;
	}
	h2{
		font-size: 24px;
		white-space: unset;
	}
	.block1-desc{
		font-size: 14px;
		white-space: unset;
		line-height: 24px;
	}
	h3{
		font-size: 32px;
	}
	h4{
		font-size: 32px;
	}
}
@media screen and (max-width: 505px){
	.transfer-window{
		width: 500px;
		overflow: hidden;
	}
	.block1{
		padding-top: 80px;
	}
	.world{
		width: 320px;
		height: 135px;
	}
	.rod-lan-podkl{
		display: block;
	}
	.podkl{
		display: block;
		margin-left: 0px;
		margin-top: 16px;
	}
}
@media screen and (max-width: 420px){
	.transfer-window{
		width: 400px;
	}
	h1{
		font-size: 20px;
	}
	.socials p{
		display: none;
	}
	.socials{
		padding-top: 61px;
	}
}
@media screen and (max-width: 1420px){
	.step2{
		margin-right: 0px;
		margin-left: 48px;
	}
	.step3{
		margin-top: 24px;
	}
}
@media screen and (max-width: 1053px){
	.step2{
		margin-left: 0px;
		margin-top: 24px;
	}
}
@media screen and (max-width: 930px){
	.h-start{
		display: block;
	}
	.start-trade{
		position: static;
	}
}
@media screen and (max-width: 420px){
	.create{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.step1p{
		margin-left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.shirok{
		text-align: center;
		font-size: 13px;
	}
}
@media screen and (max-width: 1280px){
	.faq-and-ques{
		display: block;
	}
	.accordion{
		position: static;
	}
	.faq{
		display: flex;
		align-items: center;
		padding-bottom: 64px;
	}
	.otv{
		position: absolute;
		right: 110px;
	}
}
@media screen and (max-width: 1000px){
	.container-block4{
		margin: 0 24px;
	}
	.faq{
		display: block;
	}
	.otv{
		position: static;
	}
	.contenttt p{
		margin-left: 0;
	}
}
@media screen and (max-width: 820px){
	.accordion .contentBx .label{
		white-space: normal;
		font-size: 24px;
	}
	.accordion{
		width: 520px;
	}
	.contenttt p{
		font-size: 14px;
		width: 400px;
	}
	.accordion .contentBx.active .contenttt{
		height: 300px;
	}
}
@media screen and (max-width: 533px){
	.accordion .contentBx .label{
		white-space: normal;
		font-size: 15px;
		padding-left: 0px;
	}
	.accordion{
		width: 470px;
	}
}
@media screen and (max-width: 458px){
	.accordion .contentBx .label{
		white-space: normal;
		font-size: 10px;
		padding-left: 0px;
	}
	.accordion{
		width: 400px;
	}
	.contenttt p{
		font-size: 12px;
		width: 300px;
	}
}
@media screen and (max-width: 386px){
	.accordion .contentBx .label{
		white-space: normal;
		font-size: 8px;
		padding-left: 0px;
	}
	.accordion{
		width: 300px;
	}
	.contenttt p{
		font-size: 12px;
		width: 200px;
	}
	.accordion .contentBx.active .contenttt{
		height: 400px;
	}
}