@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@500;800&display=swap');
body{
	margin: 0;
}
.container-header{
	margin: 0 24px;
}
.header-nav a{
	font-family: 'Commissioner', sans-serif;
	color: Gray;
	font-size: 16px;
	white-space: nowrap;
	text-decoration: none;
	outline: none;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
}
.header-nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-body{
	display: flex;
	padding-top: 28px;
	align-items: center;
}
.header-nav li{
	margin-left: 40px;
}
.russia{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	position: absolute;
    right: 224px;
}
.russia img{
	display: flex;
	align-items: center;
	justify-content: center;
}
.rus{
	font-family: 'Commissioner', sans-serif;
	color: black;
	font-size: 24px;
	white-space: nowrap;
	text-decoration: none;
	margin: 0;
}
.aa{
	font-family: 'Commissioner', sans-serif;
	color: dark;
	font-size: 24px;
	white-space: nowrap;
	text-decoration: none;
	transition: 0.3s;
}
.ruspng{
	margin-right: 8px;
}
.arrpng{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 9px;
	margin-top: 5px;
}
.aa{
	display: flex;
	align-items: center;
	justify-content: center;
}
.rus-lan{
	display: flex;
    align-items: center;
    justify-content: center;
}
.launch-button{
	display: flex;
	position: absolute;
    right: 24px;
    background: #3E8BF3;
    border-radius: 10px;
    white-space: nowrap;
    text-decoration: none;
    transition: 0.3s;
}
.lanch{
	margin: 12px 16px;
	font-size: 24px;
	font-family: 'Commissioner', sans-serif;
	color: white;
	align-items: center;
	display: flex;
	white-space: nowrap;
	text-decoration: none;
}
.hamburger-list{
	list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    font-size: 35px;
	color: white;
	text-decoration: none;
	transition: 0.3s;
}
.hamburger-list li a{
	font-size: 26px;
	color: white;
	text-decoration: none;
	font-family: 'Commissioner', sans-serif;
	color: gray;
	white-space: nowrap;
}
.hamburger-list li:not(:last-child){
	margin-bottom: 30px;
}
.hmb-but{
	color: white;
	text-decoration: none;
}
.hamburger-button{
	border-radius: 10px;
	background-color: #AC1216;
	width: 329px;
	height: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 70px;
}
.hidden{
	display: none !important;
}
.hamburger{
	position: fixed;
	background: white;
	top: 0;
	right: 0;
	height: 100vh;
	width: 280px;
}
.header-hamburger{
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	padding-top: 24px;
}
.close-hamburger{
	align-self: flex-end;
	position: absolute;
	top: 40px;
	right: 15px;
}
.close-hamburger img{
	width: 30px;
	max-width: 30px;
	height: 30px;
}
.container-hamburger{
	 max-width: 100%;
     padding: 70px 15px 0px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     position: relative;
     align-items: center;
}
.menu-toggle{
	display: none;
	position: relative;
	right: 0px;
}
.vib{
	font-family: 'Commissioner', sans-serif;
	white-space: nowrap;
	color: gray;
	font-size: 12px;
	margin-right: 120px;
    margin-top: 49px;
    margin-bottom: 24px;
}
.obertka{
	background-color: #000;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(15, 15, 15, 0.64);
}
.ob-cont{
	position: fixed;
	background: white;
	top: 0;
	right: 0;
	height: 100vh;
	width: 280px;
}
.header-nav li:hover{
	color: #3E8BF3;
	transition: 0.3s;
	font-size: 18px;
	text-decoration: underline;
}
.header-nav li{
	transition: 0.3s;
	line-height: 20px;
}
.launch-button:hover{
	transition: 0.3s;
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	background-color: #3474CA;
}
.aa:hover{
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	transition: 0.3s;
	opacity: 0.8;
}
.rus-burg{
	display: flex;
	align-items: center;
	font-family: 'Commissioner', sans-serif;
	color: gray;
	font-size: 24px;
	white-space: nowrap;
	text-decoration: none;
	transition: 0.3s;
}
.rus-burg img{
	margin-right: 8px;
}
.rus-burg:hover{
	transition: 0.3s;
	color: black;
}
.rus-burg:not(:last-child){
	margin-bottom: 20px;
}
.lang-burger{
	margin-right: 85px;
}
.trade-container{
	margin: 0 108px;
}
h1{
	white-space: nowrap;
	color: black;
	font-size: 64px;
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}
.trade-leftside{
	padding-top: 184px;
}
.launch-trd{
	background: #3E8BF3;
	border-radius: 10px;
	width: 154px;
	height: 65px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-family: 'Commissioner', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	margin-bottom: 0px;
	transition: 0.3s;
}
.launch-trd:hover{
	transition: 0.3s;
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	background-color: #3474CA;
}
.trade-lanch{
	text-decoration: none;
	display: flex;
	align-items: center;
}
.down-luan{
	display: flex;
	align-items: center;
	margin-top: 32px;
}
.down-luan p{
	font-family: 'Commissioner', sans-serif;
	color: gray;
	font-size: 16px;
	margin-left: 8px;
}
.trade-block{
	display: flex;
}
.transfer-window{
	margin-top: 75px;
	position: absolute;
	right: 111px;
	background: url(../img/bg-transfer.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 600px;
	height: 626px;
}
.send{
	width: 65px;
	height: 28px;
	background-color: black;
	font-size: 14px;
	color: white;
	text-decoration: none;
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	border-radius: 10px;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: 0.3s;
}
.send2{
	width: 65px;
	height: 28px;
	background-color: white;
	font-size: 14px;
	color: black;
	text-decoration: none;
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	border-radius: 10px;
	align-items: center;
	display: flex;
	justify-content: center;
	transition: 0.3s;
	margin-left: 15px;
}

.buttons-send-rec{
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin-top: 94px;
}
.send2:hover{
	background-color: black;
	color: white;
	transition: 0.3s;
}
.b350{
	color: black;
	font-size: 43px;
	font-weight: 800;
	font-family: 'Commissioner', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
	white-space: nowrap;
	margin-bottom: 0;
}
.btc0{
	color: #5D5D5B;
	white-space: nowrap;
	font-family: 'Commissioner', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}
.swap{
	position: absolute;
	right: 20px;
	padding-top: 40px;
}
.payp{
	font-size: 14px;
	font-family: 'Commissioner', sans-serif;
	white-space: nowrap;
	color: #5D5D5B;
	margin-right: 54px;
}
.payment{
	padding-top: 27px;
	padding-left: 70px;
}
.pay-with{
	display: flex;
	align-items: center;
}
.btcp{
	font-size: 14px;
	color: black;
	white-space: nowrap;
	font-family: 'Commissioner', sans-serif;
	font-weight: 600;
	margin-left: 6px;
}
.ddar{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: 300px;
}
.sendto-number{
	margin-top: 30px;
}
input::placeholder {
	color: #5D5D5B;
	font-family: 'Commissioner', sans-serif;
	opacity: 0.8;
}
input {
	outline:none;
	border: none;
	padding-left: 24px;
}
.contin-tran{
	margin-top: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.continue{
	text-decoration: none;
	background-color: #3E8BF3;
	white-space: nowrap;
	width: 222px;
	height: 41px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 14px;
	font-family: 'Commissioner', sans-serif;
	transition: 0.3s;
}
.continue:hover{
	transition: 0.3s;
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	background-color: #3474CA;
}
.footer-header-container{
	margin: 0 24px;
}
.vniz{
	display: flex;
	align-items: center;
	padding-top: 150px;
}
.vniz p{
	margin-left: 10px;
	font-family: 'Commissioner', sans-serif;
	white-space: nowrap;
	font-size: 12px;
	color: #6F767E;
}
.footer-header-body{
	display: flex;
}
.socials{
	position: absolute;
	right: 24px;
	display: flex;
	align-items: center;
	padding-top: 145px;
	transition: 0.3s;
}
.socials a{
	transition: 0.3s;
}
.socials img{
	align-items: center;
	display: flex;
	transition: 0.3s;
}
.socials p{
	color: #6F767E;
	font-size: 12px;
	font-family: 'Commissioner', sans-serif;
	white-space: nowrap;
	margin-right: 24px;
	transition: 0.3s;
}
.socials a:not(:last-child){
	margin-right: 16px;
	transition: 0.3s;
}
.socials a:hover{
	  transform: scale(1.3);
        border: 3px solid #3E8BF3; 
        border-radius: 50px;
        transition: 0.3s;
}
.socials a img{
	transition: 0.3s;
}
.container-block1{
	margin: 0 110px;
}
h2{
	white-space: nowrap;
	font-size: 48px;
	color: black;
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	margin-top: 0;
	letter-spacing: 2px;
}
.block1{
	padding-top: 140px;
	padding-bottom: 80px;
}
.block1-body{
	display: flex;
	align-items: center;
}
.block1-desc{
	position: absolute;
	right: 110px;
	white-space: nowrap;
	color: #6F767E;
	font-size: 18px;
	font-family: 'Commissioner', sans-serif;
	line-height: 32px;
	align-items: center;
	margin-top: 0px;
}
.block2{
	padding-top: 120px;
}
.container-block2{
	margin: 0 110px;
}
h3{
	white-space: nowrap;
	font-size: 48px;
	color: black;
	font-family: 'Commissioner', sans-serif;
	font-weight: 500;
	margin-top: 0;
	letter-spacing: 2px;
	margin-bottom: 48px;
}
.h-start{
	display: flex;
}
.start-trade{
	background: #3E8BF3;
	border-radius: 10px;
	width: 165px;
	height: 55px;
	color: white;
	text-decoration: none;
	align-items: center;
	display: flex;
	justify-content: center;
	font-family: 'Commissioner', sans-serif;
	white-space: nowrap;
	position: absolute;
	right: 110px;
	transition: 0.3s;
}
.start-trade:hover{
	transition: 0.3s;
	filter: drop-shadow(0px 5px 2px rgb(0 0 0 / 0.4));
	background-color: #3474CA;
}
.steps{
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.step1p{
	margin-top: 24px;
	margin-left: 18px;
	font-family: 'Commissioner', sans-serif;
	white-space: nowrap;
	color: black;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 24px;
}
.create{
	margin-top: 0px;
	font-size: 24px;
	color: black;
	white-space: nowrap;
	font-family: 'Commissioner', sans-serif;
	margin-bottom: 24px;
}
.shirok{
	color: #6F767E;
	white-space: nowrap;
	margin-top: 0;
	font-size: 16px;
	font-family: 'Commissioner', sans-serif;
}
.step2{
	margin-left: 24px;
	margin-right: 24px;
}